<!-- Determine class according to state -->
{% if nav_item.children %}
  {% set nav_item_children_0 = nav_item.children | first %}
  <li class="md-tabs__item">
    <a href="{{ nav_item_children_0.url | url }}" class="md-tabs__link{% if nav_item.active %} md-tabs__link--active{% endif %}" data-label="{{ nav_item.title }}">
      {{ nav_item.title }}
    </a>
  </li>
{% else %}
  <li class="md-tabs__item">
    <a href="{{ nav_item.url | url }}" class="md-tabs__link{% if nav_item.active %} md-tabs__link--active{% endif %}" data-label="{{ nav_item.title }}">
      {{ nav_item.title }}
    </a>
  </li>
{% endif %}
